* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $backgroundColorBody;
  min-height: 100vh;
}

@mixin centerJustifyAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}
