// circa grigio-azzurro scuro
$backgroundColorBody: #1E2D3B;
// circa grigio-azzurro chiaro
$backgroundColorHeader: rgb(46, 58, 70);
// bianco
$textColorPrimary: #ffffff;
// grigio
$textColorSecondary: rgb(119, 120, 122);

$fontSize20: 20px;
